body {
  position:sticky;
  float: bottom;
  background-color: black;
  z-index: -1;
  width: 10px;
  height: 20px;
}

#border {
  height: 3px;
  background-color: white;
}

#bottom_tag {
  height: 50px;
}


