#header {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 30px;
  align-content: center;
}

#home {
  padding-left: 20px;
  padding-right: 100px;
}
#discussion {
  padding-right: 100px;
}

#topnav {
  padding-bottom: 30px;
}
