
#header {
  height: 50px;
  background-image: linear-gradient(white, #05b9fa);
  background-color: white;
}

#title {
  font-family: Farah;
  text-align: center;
  padding-top: 18px;
  padding-left: 250px;
  padding-bottom: 30px;
  align-content: center;
  color: White;
  letter-spacing: 7px;
  font-size: 20px;
}

#home {
  padding-left: 30px;
  padding-right: 50px;
}
#discussion {
  padding-right: 50px;
}

#topNav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #b3e8fc;
}
