
<!DOCTYPE html>
<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
</style>
<html>
<div style="min-width: 200px; margin: 0 auto;">
  <div id = "header">
    <!--img id = "img1" src="assets/front_end_images/logo.png" alt="Purdue Logo"-->
    <header>
      <h1 id = "title">The Purdue Watering Hole</h1>
    </header>
  </div>
  <div id = "topNav">
    <a id = "home" href = "https://www.youtube.com">Home</a>
    <a id = "discussion" href = "https://www.youtube.com">Discussions</a>
    <a id = "account" href = "https://www.youtube.com">Your Account</a>
  </div>
</div>
</html>
