<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
</ng-template>
<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="ftnName">Fountain {{fountain.id}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="align-content-center">
      <img src="{{fountain.picture}}" alt="Fountain Image" align="center">
      <div *ngFor="let rating of fountain.ratings | keyvalue" class="card" style="width: auto;">
        <div class="card-body">
          <p class="card-header">Rating {{rating.key}}</p>
          <p class = "card-text">Bottle Filler:</p>
          <img id="checkmark" *ngIf="rating.value.bottle;" src="../../../assets/front_end_images/checkmark.png">
          <img id="xmark" *ngIf="!rating.value.bottle;" src="../../../assets/front_end_images/xmark.png">
          <p class = "card-text">Taste:</p>
          <ngb-rating [(rate)]="rating.value.taste" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          <p class = "card-text">Temperature:</p>
          <ngb-rating [(rate)]="rating.value.temp" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          <p class = "card-text">Pressure:</p>
          <ngb-rating [(rate)]="rating.value.press" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<body>
<div style="min-width: 800px; margin: 0 auto;">
  <agm-map [latitude]="location.lat"
           [longitude]="location.lng"
           [zoom]="zoom.defzoom"
           [minZoom]="zoom.minZoom"
           [maxZoom]="zoom.maxZoom"
           [styles]="style">
    <agm-marker *ngFor="let marker of markers"
                [latitude]="marker.lat"
                [longitude]="marker.lng"
                [title]="marker.title"
                (markerClick)="onFountainClicked(marker.title, longContent)">
    </agm-marker>
  </agm-map>
  <app-sidebar [fountains]="fountains"></app-sidebar>
</div>
</body>
<app-footer></app-footer>
