<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
</ng-template>
<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="ftnName">Fountain {{fountain.id}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="align-content-center">
      <img src="{{fountain.picture}}" alt="Fountain Image" align="center">
      <p class = "card-text">Bottle Filler:</p>
      <img id="checkmark" *ngIf="fountain.bottle;" src="../../../assets/front_end_images/checkmark.png">
      <img id="xmark" *ngIf="!fountain.bottle;" src="../../../assets/front_end_images/xmark.png">
      <div *ngFor="let rating of fountain.ratings | keyvalue" class="card" style="width: auto;">
        <div class="card-body">
          <p class="card-header">Rating {{rating.key}}</p>
          <p class = "card-text">Taste:</p>
          <ngb-rating [(rate)]="rating.value.taste" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          <p class = "card-text">Temperature:</p>
          <ngb-rating [(rate)]="rating.value.temp" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          <p class = "card-text">Pressure:</p>
          <ngb-rating [(rate)]="rating.value.press" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        </div>
      </div>
      <div id="add-rating-card" class="card" style="width: auto;">
        <div class="card-body">
          <p class="card-header">Add a rating below!</p>
          <p class = "card-text">Taste:</p>
          <ngb-rating [(rate)]="addRating.taste" [starTemplate]="t" max="5"></ngb-rating>
          <p class = "card-text">Temperature:</p>
          <ngb-rating [(rate)]="addRating.temp" [starTemplate]="t" max="5"></ngb-rating>
          <p class = "card-text">Pressure:</p>
          <ngb-rating [(rate)]="addRating.press" [starTemplate]="t" max="5"></ngb-rating>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" (click)="submitRating()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<div id="sidebar-div">
  <header id = "gradient1"></header>
  <header id = "fountain_header">
    Fountains near you...
  </header>
  <header id = "gradient2"></header>
  <header id = "gradient3"></header>
  <div id="search-area">
    <input #typeahead id="typeahead-basic" type="text" placeholder="Search for a fountain" class="form-control"
           [(ngModel)]="model" [ngbTypeahead]="search"/>
    <button id="search-button" class="btn btn-outline-primary mb-2 mr-2" (click)="searchBarClickSeeReviews(typeahead.value, longContent)">See Reviews</button>
  </div>
  <nav id = "nav">
    <ul *ngIf="homeComponent.isLoaded" id="myUL">
      <li *ngFor="let fountain of fountains" id ="cardFtn{{fountain.id}}">
        <div class="card" style="width: 150px;">
          <div class="card-header">Fountain {{fountain.id}}</div>
          <img class="card-img" src="{{fountain.picture}}" alt="Fountain Image">
          <div class="card-footer" style="font-size: 14px"> {{fountain.distance.toFixed(2)}} miles </div>
          <button href="home" class="btn btn-primary" (click)='onClickSeeReviews(fountain.id, longContent)'>See Reviews</button>
        </div>
      </li>
    </ul>
  </nav>
</div>
