body {
  min-width: 25vw;
}

#gradient {
  background-image: linear-gradient(#66d6ff, #28c0f7);
  height: 20px;
}

#fountain_header {
  padding-top: 13px;
  text-align: center;
  background-color: #82dafa;
  font-size: 21px;
  height: 60px;
  font-family: Roboto;
  color: white;
}

#myUL{
  text-align: center;
}

.card {
  margin: 0px auto;
  margin-top: 2rem;
  float: none;
  margin-bottom: 10px; /* Added */
}

.card-img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-header {
  height: 3rem;
}

[id^="cardFtn"] {
  list-style: none;
  padding-top: 25px;
  padding-right:50px;
  font-family: Roboto;
}

#nav {
  font-family: Roboto;
  text-align: center;
  height: 90vh;
  overflow:hidden;
  overflow-y: scroll;
  background-color: #28c0f7;
}

#list li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.align-content-center {
  text-align: center;
}

#checkmark, #xmark {
  margin-top: -0.5%;
  margin-bottom: 1.5%;
  height: 10%;
  width: 10%;
}

#xmark {
  height: 8%;
  width: 8%;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.full {
  color: red;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}
