<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="ftnName">Fountain {{fountain.id}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="align-content-center">
      <img src="{{fountain.picture}}" alt="Fountain Image" align="center">
      <div *ngFor="let rating of fountain.ratings | keyvalue" class="card" style="width: auto;">
        <div class="card-body">
          <p class="card-header">Rating {{rating.key}}</p>
          <p class="card-text" *ngIf="rating.value.bottle;">This fountain has a water bottle filler!!</p>
          <p class="card-text" *ngIf="!rating.value.bottle;">This fountain does NOT have a water bottle filler</p>
          <p class = "card-text">Taste: {{rating.value.taste}}</p>
          <p class = "card-text">Temperature: {{rating.value.temp}}</p>
          <p class = "card-text">Pressure: {{rating.value.press}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<body>
<div style="min-width: 80px; margin: 0 auto;">
  <header id = "gradient1"></header>
<header id = "fountain_header">
  Fountains near you...
</header>
  <header id = "gradient2"></header>
  <header id = "gradient3"></header>
<nav id = "nav">
  <ul *ngIf="appComponent.isLoaded" id="myUL">
    <li *ngFor="let fountain of fountains" id ="cardFtn{{fountain.id}}">
      <div class="card" style="width: 150px;">
        <div class="card-header">Fountain {{fountain.id}}</div>
        <img class="card-img" src="{{fountain.picture}}" alt="Fountain Image">
        <button href="home" class="btn btn-primary" (click)='onClickSeeReviews(fountain.id, longContent)'>See Reviews</button>
      </div>
    </li>
  </ul>
</nav>
</div>
</body>

<script>


</script>


<!--    <script>-->
<!--        function searchSort() {-->
<!--            var input, filter, ul, li, a, i, txtValue;-->
<!--            input = document.getElementById("myInput");-->
<!--            filter = input.value.toUpperCase();-->
<!--            ul = document.getElementById("myUL");-->
<!--            li = ul.getElementsByTagName("li");-->
<!--            for (i = 0; i < li.length; i++) {-->
<!--                a = li[i].getElementsByTagName("a")[0];-->
<!--                txtValue = a.textContent || a.innerText;-->
<!--                if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--                    li[i].style.display = "";-->
<!--                } else {-->
<!--                    li[i].style.display = "none";-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    </script>-->



