agm-map {
  float: right;
  height: 90vh;
  width: 75vw;
}

#full_page {
  font-family: DINPro-Medium, Serif;
}

body {
  background-color: #e3f5fc;
  margin: 0;
  height: 100%;
}

.align-content-center {
  text-align: center;
}

.card {
  margin-top: 2rem;
}

.card-header {
  height: 3rem;
}
