#header {
  height: 50px;
  background-image: linear-gradient(to right, white, #cff2ff);
  background-color: white;
}

#title {
  background: -webkit-linear-gradient(midnightblue, cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 10px;
  font-family: Roboto, serif;
  padding-bottom: 20px;
  align-content: center;
  letter-spacing: 2px;
  padding-top: 6px;
  font-size: 35px;
}

#home {
  padding-left: 30px;
  padding-right: 50px;
  color: white;
}
#discussion {
  padding-right: 50px;
  color: white;
}

#account {
  color:white;
}

#topNavUpperBoarder {
  height: 2px;
  color: #6d95f2;
}

#topNav {
  background-image: linear-gradient(to right, #2248a1, #1a4fc9);
  font-family: Roboto, serif;
}

.boxed {
  border: 4px solid lightskyblue;
  display: inline-block;
  fill: green;
  align-content: center;
}

#router_home, #router_discussion, #router_profile {
  text-align: center;
  font-size: 15px;
  color: white;
  padding-right: 60px;
  padding-left: 5px;

}

