
<body id="full_page">
<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="ftnName">Fountain {{fountain.id}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="align-content-center">
      <img src="{{imageURL}}" alt="Fountain Image" align="center">
      <div *ngFor="let rating of fountain.ratings | keyvalue" class="card" style="width: auto;">
        <div class="card-body">
          <p class="card-header">Rating {{rating.key}}</p>
          <p class="card-text" *ngIf="rating.value.bottle;">This fountain has a water bottle filler!!</p>
          <p class="card-text" *ngIf="!rating.value.bottle;">This fountain does NOT have a water bottle filler</p>
          <p class = "card-text">Taste: {{rating.value.taste}}</p>
          <p class = "card-text">Temperature: {{rating.value.temp}}</p>
          <p class = "card-text">Pressure: {{rating.value.press}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<body>
<div style="min-width: 800px; margin: 0 auto;">
  <app-header></app-header>
  <agm-map [latitude]="location.lat"
           [longitude]="location.lng"
           [zoom]="zoom.defzoom"
           [minZoom]="zoom.minZoom"
           [maxZoom]="zoom.maxZoom"
           [styles]="style">
    <agm-marker *ngFor="let marker of markers"
                [latitude]="marker.lat"
                [longitude]="marker.lng"
                [title]="marker.title"
                (markerClick)="onFountainClicked(marker.title, longContent)">
    </agm-marker>
  </agm-map>
  <app-sidebar></app-sidebar>
</div>
</body>
<app-footer></app-footer>
</body>




