<!DOCTYPE html>
<html>
<div style="min-width: 200px; margin: 0 auto;">
  <div id = "header">
    <!--img id = "img1" src="assets/front_end_images/logo.png" alt="Purdue Logo"-->
    <header>
      <h1 id = "title">The Purdue Watering Hole</h1>
    </header>
  </div>
  <div id = "topNav">
    <nav>
      <a [routerLink] ="'/home'" routerLinkActive="active" >Home</a>
    </nav>
    <nav>
      <a [routerLink] ="'/discussion'" routerLinkActive="active" >Discussion</a>
    </nav>
    <router-outlet></router-outlet>
    <nav>
      <a [routerLink] = "'/my profile'" routerLinkActive="active" >My Profile</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
</html>








