#header {
  height: 50px;
  background-image: linear-gradient(white, #05b9fa);
  background-color: white;
}

#title {
  font-family: Roboto;
  text-align: center;
  padding-top: 18px;
  padding-left: 250px;
  padding-bottom: 30px;
  align-content: center;
  color: White;
  letter-spacing: 7px;
  font-size: 20px;
}

#home {
  padding-left: 30px;
  padding-right: 50px;
  color: white;
}
#discussion {
  padding-right: 50px;
  color: white;
}

#account {
  color:white;
}

#topNav {
  font-family: Roboto;
  padding-top: 1px;
  padding-bottom: 9px;
  background-color: #b3e8fc;
}

#router_home, #router_discussion, #router_profile {
  padding-left: 26px;
  color: dodgerblue;
}

