.content {
  float:left;
}

.hide {
  display: none;
}

#fountain_header {
  padding-top: 13px;
  background-color: #82dafa;
  padding-left: 53px;
  font-size: 21px;
  height: 60px;
}

#myUL{
  float:left;
}

#li1, #li2, #li3 {
  list-style: none;
  text-align: center;
  padding-top: 25px;
  padding-left: 14px;
}

#myInput {

  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 17%; /* Full-width */
  font-size: 14px; /* Increase font-size */
  padding: 12px 20px 12px 20px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#nav {
  height: 459px;
  width: 267px;
  overflow:hidden;
  overflow-y: scroll;
  background-color: #43c7f7;
}

#list li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
