
<body>
    <header id = "fountain_header">
      Fountains near you
    </header>
        <nav id = "nav">
        <ul id="myUL">
          <li id ="li1">
            <a href="#">Fountain 1</a>
            <div class="card" style="width: 10rem;">
              <img class="card-img-top" src="assets/fountain_images/fountain.png" alt="Fountain Image">
              <div class="card-body">
                <p class = "card-text">
                  Fountain 1 - Lawson
                </p>
              </div>
              <a href="#" class="btn btn-primary">See Reviews</a>
            </div>
          </li>

          <li id ="li2">
            <a href="#">Fountain 2</a>
            <div class="card" style="width: 10rem;">
              <img class="card-img-top" src="assets/fountain_images/fountain.png" alt="Fountain Image">
              <div class="card-body">
                <p class = "card-text">
                  Fountain 2 - Lawson
                </p>
              </div>
              <a href="#" class="btn btn-primary">See Reviews</a>
            </div>
          </li>

          <li id ="li3">
            <a href="#">Fountain 3</a>
            <div class="card" style="width: 10rem;">
              <img class="card-img-top" src="assets/fountain_images/fountain.png" alt="Fountain Image">
              <div class="card-body">
                <p class = "card-text">
                  Fountain 3 - Lawson
                </p>
              </div>
              <a href="#" class="btn btn-primary">See Reviews</a>
            </div>
          </li>
        </ul>
      </nav>
</body>

<script>


</script>


<!--    <script>-->
<!--        function searchSort() {-->
<!--            var input, filter, ul, li, a, i, txtValue;-->
<!--            input = document.getElementById("myInput");-->
<!--            filter = input.value.toUpperCase();-->
<!--            ul = document.getElementById("myUL");-->
<!--            li = ul.getElementsByTagName("li");-->
<!--            for (i = 0; i < li.length; i++) {-->
<!--                a = li[i].getElementsByTagName("a")[0];-->
<!--                txtValue = a.textContent || a.innerText;-->
<!--                if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--                    li[i].style.display = "";-->
<!--                } else {-->
<!--                    li[i].style.display = "none";-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    </script>-->



