body {
  min-width: 500px;
}

.hide {
  display: none;
}

#fountain_header {
  padding-top: 13px;
  text-align: center;
  background-color: #82dafa;
  font-size: 21px;
  height: 60px;
}

#myUL{
  text-align: center;
}

.card {
  margin: 0px auto;
  float: none;
  margin-bottom: 10px; /* Added */
}

#li1, #li2, #li3 {
  list-style: none;
  padding-top: 25px;
  padding-right:50px;
}

#nav {
  font-family: "Arial";
  text-align: center;
  height: 465px;
  overflow:hidden;
  overflow-y: scroll;
  background-color: #43c7f7;
}

#list li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
